.line {
  &__wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0 5px;
  }
}