@keyframes typing {
    from { width: 0; }
    to { width: 250px; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.text {
    color: white;
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid white; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .10em; 
    animation: 
        typing 3.5s steps(15, end), 
        blink-caret .75s step-end infinite;
    position: relative;
    top: 200px;
    left: 50px;
}