.about {
    margin-top: 100px;
    margin-bottom: 200px;

    &__title {
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}