@keyframes zoomOut {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.image {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/port-place.jpg');
    background-size: cover;
    background-position: center;
    animation-name: zoomOut;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: -1;
}