.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    z-index: 2;

    &__wrapper {
        width: 100%;
        background-color: rgb(0, 0, 0, 30%);
        padding: 25px 10px;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, 40%);
        position: fixed;
    }
}

.navigation {
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}